<div class="nav">
        <div class="nav-home">
            <a href="/">
                <img src="images/home.png" alt="avi">
            </a>
        </div>
        <div class="nav-div">
            <img src="images/div.png" alt="avi">
        </div>
        <div class="nav-logo">
            <img src="images/logo.png" alt="avi">
        </div>
        <div class="logo-title">
            <h2>weCollege</h2>
        </div>
        <% if (user) { %>
        <div class="nav-profile">
            <img src="images/profile.png" alt="profile">
        </div>
        <div class="nav-notif">
            
        </div>
        <%} else { %>
        <form class="topic-post" action="/log-in" method="post">
            <div class="first-name">
                <label for="email">email</label>
                <input type="text" name="email">
            </div>
            <div class="last-name">
                <label for="password">password</label>
                <input class="last-name" type="password" name="password">
            </div>
            <input class="" type="submit" value="Submit">
        </form>
        <% } %>
</div>