<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        
        <title>We College | learn programming together.</title>
    </head>
    <body>
        <%- include ../partials/nav.ejs %>
        <form class="topic-post" action="/create-topic" method="post">
            <div class="float-right">
                <input type="radio" name="cat" value="code">
                <span class="post-cat">code</span>
                <input type="radio" name="cat" value="general">
                <span class="post-cat">general</span>
                <input type="radio" name="cat" value="non-tech">
                <span class="post-cat">non-tech</span><br>
            </div>
            <label for="title">Title:</label>
            <input class="post-title" type="text" name="title">
            <label for="body">Description:</label>
            <textarea class="post-body" rows="4" cols="50" name="description"></textarea>
            <div class="dev-env">
                <input type="hidden" name="program" id="program">
                <div id="editor" name="editor"></div>
                <label for="title">System.in:</label>
                <input class="stdin" type="text" name="stdin">

                <button type="button" class="compileRun post-submit" id="compileRun">compile + run</button>
                <div class="console">
                    <p class="output"></p>
                </div>
            </div>
            <input class="post-submit" type="submit" value="Submit Post">
        </form>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/scripts/lib/ace-builds/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/scripts/create.js" type="text/javascript" charset="utf-8"></script>   
    </body>
</html>